<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body mass index is: 
    <strong id = "bmiVal"><%= Math.round(bmi * 100) / 100 %></strong>
</div>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your waist hip ratio is:
    <strong id = "whrVal"><%= Math.round(whr * 100) / 100 %></strong>
</div>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body mass index means that you are: 
    <strong id = "bmiCat"><%= bmiCategory %></strong>
</div>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your waist hip ratio means that you are:
    <strong id = "whrCat"><%= whrCat %></strong>
</div>

<% include ../partials/footer %>