<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body mass index is: 
    <strong id = "bmiVal"><%= Math.round(bmi * 100) / 100 %></strong>
</div>


<% include ../partials/footer %>